<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc.hm.mapper.UserMapper">

    <select id="userLogin" resultType="com.wyc.hm.entity.User" parameterType="com.wyc.hm.entity.User">
        SELECT
        *
        FROM
        user
        WHERE
        phone = #{phone}
        and password = #{password}
    </select>

    <select id="getUserList" resultType="com.wyc.hm.entity.User" parameterType="com.wyc.hm.entity.User">
        SELECT * FROM user where 1=1
        <if test="userName!=null and userName!=''">
            userName like concat('%',#{userName},'%')
        </if>
    </select>

    <insert id="addDk" parameterType="com.wyc.hm.entity.Dk">
        insert into dk(userId, dkTime) values(#{userId},#{dkTime})
    </insert>

    <select id="getDkList" parameterType="com.wyc.hm.entity.Dto.UserDto" resultType="com.wyc.hm.entity.Dto.UserDto">
        select d.dkTime as 'date',d.dkTime,u.* from dk d,user u where u.userId=d.userId
        <if test="userId!=null and userId!=''">
            and u.userId=#{userId}
        </if>
        <if test="ks!=null and ks!=''">
            and u.ks=#{ks}
        </if>
    </select>

    <update id="changeUser" parameterType="com.wyc.hm.entity.User">
        update set userId=#{userId}
        <if test="userName!=null and userName!=''">
            ,userName=#{userName}
        </if>
        <if test="password!=null and password!=''">
            ,password=#{password}
        </if>
        <if test="permission!=null and permission!=''">
            ,permission=#{permission}
        </if>
        <if test="ks!=null and ks!=''">
            ,ks=#{ks}
        </if>
        <if test="phone!=null and phone!=''">
            ,phone=#{phone}
        </if>
        <if test="xb!=null and xb!=''">
            ,xb=#{xb}
        </if>
        from user where userId=#{userId}
    </update>

    <insert id="addUser" parameterType="com.wyc.hm.entity.User">
        insert into user(userName, password, permission, ks, phone, xb)
        values(#{userName},#{password},#{permission},#{ks},#{phone},#{xb})
    </insert>

    <delete id="deleteUser" parameterType="com.wyc.hm.entity.User">
        delete from user where userId=#{userId}
    </delete>

    <select id="haveDk" parameterType="com.wyc.hm.entity.Dk" resultType="com.wyc.hm.entity.Dk">
        select * from dk where userId=#{userId} and DATE_FORMAT(dkTime,'%Y-%m-%d')=DATE_FORMAT(#{dkTime},'%Y-%m-%d') limit 1
    </select>

    <select id="countDk" resultType="java.lang.Integer">
        SELECT count(userId) FROM dk WHERE DATE_FORMAT( dkTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>

</mapper>